body{
    background-image: url(./images/messi.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 30%;
    padding-top: 2rem;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    min-height: 100vw;
    position: relative;
}

h1{
    text-align: center;
    font-size: 1.4rem;
    letter-spacing: .05rem;
    line-height: 1.4;
    margin: 2rem 1.5rem;
    color: #fff;
    background-color: rgba(7, 5, 5, 0.521);
    padding: 1rem;
    border-radius: .5rem;
}

.contenedor{
    color: #fff;
    width: 80%;
    display: flex;
    justify-content: space-around;
    gap: .5rem;
    margin: 0 auto;
}

.numero{
    background-color: rgba(0, 0, 0, 0.733);
    border-radius: .5rem;
    padding: .5rem;
}

.numero p{
    font-size: 1.5rem;
    text-align: center;
    font-weight: 400;
    margin-bottom: 5px;
    margin-top: 5px;
}

.numero span p{
    font-size: .8rem;
    text-align: center;
    letter-spacing: .1rem;
}

footer{ 
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: black;
}

footer p{
    padding: 0 1rem;
    color: rgb(255, 255, 255);
    font-size: .9rem;
    line-height: 1.5;
    text-align: center;
}

@media (min-width: 700px){

    body{
        min-height: 100vh;
    }

    h1{
        width: 70%;
        margin: 2rem auto;
        font-size: 2.4rem;
    }

    .contenedor{
        display: flex;
        justify-content: center;
        gap: 2rem;
        margin-top: 4rem;
    }

    .numero{
        padding: 2rem;
    }

    .numero p{
        font-size: 3rem;
    }

    .numero span p{
        font-size: 1.2rem;
    }
}